html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
  }
  h1
  {
    color:#393;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h2
  {
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left;
  }
  h3
  {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  #div-main-wrapper
  {
    width:100%;
    height: 131em;
    overflow: hidden;
  }

  .div-toolbar-footer-frame h1
  {
    text-align: left;
  }

    input[type="button"] {
      float: left;
      width: 30%;
      height: 85%;
      display: block;
      margin: 1% 1% 1% auto;
      clear:none;
      background-color: #393;
      font-size: 15px;
      font-weight: bold;
      color: white;
  }

img.img-gama
{
  border: none;
}

gm-style-iw
{
  background-color: #9a9b9e ;
}

a, a:visited
{
  color:#010203;
  text-decoration: none;
}

a:hover
{
  color:#393;
  text-decoration: none;
  font-weight: bold;
}

#div-hd-image
{
  position: absolute;
  top : 101px;
  left: 5em;
  width: 65%;
  height: 69em;
  background: transparent;
  overflow: hidden;
  opacity: 0.9;
  visibility: hidden;
}
#hd-image
{
  margin-top: 25px;
  text-align: center;
}

#hd-image-link
{
  margin-top: 25px;
  text-align: right;
}

#hd-image-return-link
{
  margin-top: 0px;
  text-align: center;
}

#div-iframe-threejs-3d
{
  width: 88%;
  height: 33%;
  margin-left: auto;
  background: url(../images/1325703602155-All-Glory-To-The-Hypnocat.gif) top center no-repeat;
  background-size: 50%;
  float: left;
  margin-left: 2em;
}
#iframe-threejs-3d
{
  width: 100%;
  height: 100%;
  margin-left: auto;
  float: left;
  margin: 0px;
  visibility: hidden;
}

#iframe-threejs-3d-max
{
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  float: right;
  margin-left: 0px;
}

#img-zekom-street-view
{
  position: absolute;
  margin-left: 0px;
  float: left;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  clear:none;
}

.div-toolbar-header-3col
{
    width:111%;
    height:250px;
    overflow: hidden;
    margin-bottom: 0px;
    margin-left:11px;
    margin-right:111px;
    position:relative;
    top:0em;
    left:3em;
    clear:both;
    display:block;
}
.div-toolbar-header
{
  width:70%;
  height:100%;
  margin: auto auto auto 0;
  float:left;
  clear:none;
}

.div-toolbar-header-frame
{
  width: 47%;
  height: 100%;
  margin: auto auto auto 1%;
  float:left;
  text-align: right;
  clear: none;
}

.div-toolbar-header-right
{
  float: right;
  width: 30%;
  height: 100%;
  clear:none;
}

#div-map-canvas-wrapper
{
  position:absolute;
  width:100%;
  height:955px;
  background: #FFEEFF right top;
  margin-top:155px;
  top:105px;
  left:0px;
}

#div-map-canvas-wrapper-left
{
  width:70%;
  float:left;
  height: 100%;
}

#div-map-canvas-wrapper-right
{
  width:30%;
  float:right;
  height: 100%;
}

#div-map-canvas
{
  width:100%;
  height:100%;
}

#iframe-documentation
{
  width: 100%;
  height: 44%;
  clear:both;
}
#div-console-debug
{
  width: 100%;
  height: 33%;
  overflow-y: scroll;
  clear:both;
}

  #div-control-box
  {
      width:90%;
      height:100%;
      overflow-y: auto;
      clear:none;
  }

  .div-control-buttons
  {
      width:95%;
      height:7em;
      clear:both;
      margin : 1px 1px auto auto;
      float:left;
  }
  .div-control-checkbox
  {
      width:95%;
      height:5em;
      clear:both;
      margin : 1px 1px auto auto;
      float:left;
  }

  #div-control-buttons-augmented-reality-settings
  {
      width:95%;
      height:16em;
      clear:both;
      margin : 1% 1% 1px 1px;
      float:right;
  }

  #div-control-buttons-format-settings
  {
      width:95%;
      height:10em;
      clear:both;
      margin : 0px;
      float:right;
  }
  #div-vehicle-control-buttons
  {
      width:95%;
      height:7em;
      clear:both;
      margin : 0px;
      float:right;
  }

  #div-console-data
  {
      width:100%;
      height:69%;
      float:right;
      overflow-y:scroll;
  }

  .div-toolbar-footer
  {
    width:99%;
    height:11em;
    margin: auto auto auto 1% ;
    border-bottom: 1px;
    border-color: #112233;
    float:left;
    text-align: left;
    clear:both;
  }

  .div-toolbar-footer-frame
  {
    width: 48%;
    height: 100%;
    margin: auto auto auto 1%;
    float:left;
    clear: none;
  }

  #div-toolbar-footer-right
  {
     width:100%;
     height:100%;
     background:#d1d1d1;
  }

  .div-toolbar-footer-breadcrumbs
  {
    width:100%;
    height:7em;
    overflow: hidden;
    float:left;
    text-align: center;
    font-size: 21px;
    font-family: "Arial", Times, Sans-serif;
    font-style: oblique;
    margin-bottom: 0px;
  }

  #div-documentation-toolbar
  {
    width: 100%;
    height:50%
    background-color:inherit;
  }
